{% extends 'grades/base.html' %}
{% block content %}
<a href="{% url 'export_all' %}">Скачать общий XML</a>

{% if files %}
  {% for f in files %}
    <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0; border-radius: 5px;">
      <h3>{{ f.name }}</h3>
      <p><strong>Студент:</strong> {{ f.data.student }}</p>
      <p><strong>Предмет:</strong> {{ f.data.subject }}</p>
      <p><strong>Оценка:</strong> {{ f.data.grade }}</p>
      <p><strong>Согласие на обработку: </strong>{% if f.data.person %} Да {% else %} Нет {% endif %}</p>
    </div>
  {% endfor %}
{% else %}
  <p>Нет записей.</p>
{% endif %}
{% endblock %}