{% extends "store/base.html" %}
{% load static %}
{% block content %}
<article class="product-detail">
  <h2>{{ product.name }}</h2>
  <img src="{% static product.image %}" alt="{{ product.name }}" class="large">
  <p>{{ product.description }}</p>
  <p>Стили: {{ product.styles|join:", " }}</p>
  <p>Доступные размеры: {{ product.sizes|join:", " }}</p>
  <p>Цена: {{ product.price }} руб.</p>

  {% if product.id in favorites %}
    <button id="fav-btn-{{ product.id }}" onclick="toggleFavorite({{ product.id }});">Убрать из избранного</button>
  {% else %}
    <button id="fav-btn-{{ product.id }}" onclick="toggleFavorite({{ product.id }});">Добавить в избранное</button>
  {% endif %}
</article>
{% endblock %}